<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dummy.css">
    <style>@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

      footer{
        font-family: 'Titillium Web', sans-serif;
        font-size:12px;
        color:#411F1F}
      
      
      .footer-distributed{
        background: #F3F3F3;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
      }
      
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: inline-block;
      
      }
      
      /* Footer left */
      
      .footer-distributed .footer-left{
        width: 40%;
      }
      
      /* The company logo */
      
      .footer-distributed h3{
        
        font: normal 39px 'Open Sans', cursive;
        margin: 0;
      
      }
      
      /* Footer links */
      
      .footer-distributed .footer-links{
        color: #411F1F;;
        margin: 0;
        font-size:15px;
       
        padding: 0;
      }
      
      .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
        font-weight:400;
        text-decoration: none;
        color:  inherit;
      }
      
      .footer-distributed .footer-company-name{
        color:  #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      
      /* Footer Center */
      
      .copyrights{
        width: 100%;
        height:20px;
        background-color: #411F1F;
      }
      .footer-distributed .footer-links a:before {
        content: "|";
        font-weight:30;
        font-size: 20px;
        left: 0;
        color: #411F1F;
        display: inline-block;
        padding-right: 3px;
      }
      .footer-links a{
        font-family: 'Titillium Web', sans-serif;
        font-size:15px;
        color:#411F1F;
        text-align: center;
        }
      .footer-distributed .footer-links .link-1:before {
        content: none;
      }
      i{
        width:600%;
        
      }
      /* Footer Right */
      
      .footer-distributed .footer-right{
        width: 90%;
      }
      
      @media (max-width: 880px) {
      
        .footer-distributed{
          font: bold 14px sans-serif;
        }
      
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
          display: block;
          width: 100%;
          
          text-align: center;
        }
        
        
      
        .footer-links{
        font-family: 'Titillium Web', sans-serif;
        font-size:12px;
        color:#411F1F;
        text-align: center;
        }
      }
      
      </style>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,400;1,200&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="moments.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="./img/logo.jpeg" />
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap" rel="stylesheet">
        <style>
          @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.college-text{
 margin: 0;
 padding: 0;
 font-size: 1.1rem;
}
      .college{
 
        display: flex;
        flex-direction: row;
        gap:30px;

       
        
      }
      .college-img{
        right:0px;
        margin-left: 30px;;
        width: 500px;
        height: 500px;
      }
        .main{
            width:100%;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            margin: auto 0;
         
        }
      .imgg{
        width: 300px;
        height: 200px;
        border-radius: 12px;
      }
      .container1{
        position: relative;
       top:50%;
        border-radius: 12px;
        padding: 10px;
        width:350px;
        margin :40px;
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      #table{
        background:#ffff;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
               display: inline-block;
               padding: 10px;
               text-align: center;
 color:black;
 width: 150px;;
 text-decoration: none;
        border-radius: 12px;
        background-color: #ffff;
        font-size: larger;
        font-family:  'Poppins', sans-serif;;
        cursor: pointer;

      }
      #table:hover{
        background-color:  #009087;
        color:#ffff;
        width: 250px;;
      }
      .welcome{
        
        font-family:  'Poppins', sans-serif;;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;
      }
      
    </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Css file -->
  

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <!-- Fontawesome cdn link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Velammal Documents</title>
  <style>
    
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(244, 247, 250);
  position: relative;
 
}

nav {
    z-index: 1;
  padding: 0 20px;
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 0 #ffffff, 5px 0 0 #f8f7f7;
}

#logo-text img {
 
  width:500px;
}

#check {
  display: none;
}

.toggle {
  font-size: 1.5rem;
  color: gray;
  cursor: pointer;

  display: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  padding: 0 10px;
  color: gray;
  font-weight: 300;
}

nav ul li a:hover {
  color: #009087;
}

.active {
  color: #009087;
}

#account-container a {
  text-decoration: none;
  padding: 0 10px;
  color: gray;
  font-weight: 300;
}

#account-container a:nth-child(1) {
  background-color: #009087;
  color: #fff;
  font-weight: 900;
  padding: 5px 10px;
  border-radius: 10px;
}

/* header main page style start here */

#header-container {
  height: 85vh;
  padding: 20px 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 30px;
}

#header-page-title {
  width: 100%;
}

#header-page-title h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 40px;
}

#header-page-title p {
  font-size: 1.1rem;
  color: rgb(167, 161, 161);
  margin-bottom: 40px;
}

#header-subscribe-form input {
  text-align: center;
  padding: 10px;
  background-color: #e8ebf8;
  border-radius: 5px;
  border: 0;
}

#header-subscribe-form input:nth-child(2) {
  background-color:#009087;
  color: white;
  font-weight: 900;
  border: none;
}

#header-page-image img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.awesome-feature {
  text-align: center;
  padding: 0 50px;
  margin-bottom: 50px;
}

#feature-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#feature-text p {
  font-size: 1rem;
  color: gray;
}

#creativity-features {
  padding: 0 50px;
 display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  margin-bottom: 100px;
}

#creativity-features-image img {
  width: 100%;

}

#creativity-features-text {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

#creativity-features-text h1 {
  font-size: xx-large;
  margin-bottom: 20px;
}

#creativity-features-text h3 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}

#creativity-features-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}


#creativity-btn a {
  text-decoration: none;
  background-color: #009087;
  color: white;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 3px;
}

#creativity-btn a:nth-child(2) {
  background-color: #dedbf8;
  color: #009087;
}

/* Choose your plan */

#plan-container {
  margin: 30px 70px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

#plan-container .plan-item {
  text-align: center;
  background-color: #e8ebf8;
  padding: 10px 30px 20px;
  border-radius: 5px;
}

.plan-item p {
  line-height: 40px;
  color: gray;
  font-size: 1.2rem;
}

.plan-money i {
  padding: 15px;
  /* font-size: 2rem; */
  background-color: #009087;
  color: white;
  border-radius: 10px 10px 0 10px;
  margin-bottom: 10px;
}

.plan-money i:nth-child(2) {
  border-radius: 0 10px 10px 10px;
}

.plan-money h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.plan-money h1 {
  font-size: 3rem;
}

.plan-money h1 span {
  font-size: 1rem;
}

.plan-money p {
  font-weight: bold;
  color: gray;
}

.plan-benifit a {
  text-decoration: none;
  border: 2px solid #009087;
  border-radius: 5px;
  color: #009087;
  padding: 5px 15px;
}

#letest-news-container {
  margin: 30px 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.letest-image img {
  width: 100%;
  border-radius: 3px;
}

.admin-and-calender {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.calender {
  display: flex;
  gap: 20px;
}

.admin {
  display: flex;
  gap: 20px;
}

.letest-text h1 {
  line-height: 60px;
}

.learn-more-btn {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #009087;
}

.learn-more-btn a {
  text-decoration: none;
}

#contact-us {
  margin: 30px 70px 100px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

#contact-form-item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
  color: gray;
}

#contact-form-item input {
  padding: 10px 15px;
  border: 1px solid gray;
  border-radius: 3px;
  transition: outline 1s;
}

#contact-form-item input:focus {
  outline: 2px solid #009087;
}

textarea {
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
}

textarea:focus {
  outline: 1px solid #009087;
}

#send-message-btn {
  background-color: #009087;
  padding: 10px 20px;
  border-radius: 3px;
  color: white;
}

#send-message-btn input {
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: 900;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 50px;
  color: gray;
}

.contact-info i {
  font-size: 1.5rem;
}
.college-text{
 margin: 15px;
 padding: 0;
 text-align: justify;
 

}

@media screen and (max-width: 600px) and (min-width: 200px) {
  * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
  }
  .college-text{
 margin: 15px;
 padding: 0;
 text-align: justify;
 

}
      .college{
        display: flex;
        flex-direction: column;
        gap:30px;
       
        
       
        
      }
      .college-img{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 300px;
        height: 300px;
      
       
        
      }

  body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(244, 247, 250);
    position: relative;
    overflow-x: hidden;
  }


  #logo-text img{
    width: 300px;;
    
  }

  #check {
    display: none;
  }

  .toggle {
    font-size: 1.5rem;
    color: gray;
    cursor: pointer;

    display: block;
  }

  nav ul {
    width: 100%;
    height: 100vh;
    padding: 50% 0 0 0;
    text-align: center;
    background-color: #fbfbff;
    display: block;
    justify-content: space-around;
    position: absolute;
    top: 50px;
    left: -100%;
    transition: all 1s;
  }

  nav ul li {
    list-style-type: none;
  }

  nav ul li a {
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-weight: 300;
    line-height: 2em;
    font-size: 1.5rem;
  }

  nav ul li a:hover {
    color: #009087;
  }

  .active {
    color: #009087;
  }

  #account-container a {
    display: block;
    text-decoration: none;
    padding: 0 10px;
    color: gray;
    font-weight: 300;
  }

  #account-container a:nth-child(1) {
    background-color: #009087;
    color: #fff;
    font-weight: 300;
    padding: 5px;
    border-radius: 5px;
  }

  #check:checked ~ ul {
    /* top: 50px; */
    left: 0;
  }

  /* Header container */
  #header-container {
    height: 100vh;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 30px;
  }

  #header-page-title {
    text-align:center;
    width: 100%;
  }

  #header-page-title h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 40px;
  }

  #header-page-title p {
    font-size: 1.1rem;
    color: rgb(167, 161, 161);
    margin-bottom: 40px;
  }

  #header-subscribe-form input {
    text-align: center;
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #e8ebf8;
    border-radius: 5px;
    border: 0;
    width: 100%;
  }

  #header-subscribe-form input:nth-child(2) {
    background-color: 009087;
    color: white;
    font-weight: 900;
    border: none;
  }

  #header-page-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

  .awesome-feature {
    text-align: center;
    padding: 0 50px;
    margin: 0 0 50px 0;
  }

  #feature-text h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  #feature-text p {
    font-size: 0.9rem;
    color: gray;
  }

  #creativity-features {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    margin-bottom: 100px;
  }

  #creativity-features-image img {
    width: 100%;
   
  }

  #creativity-features-text {
    width: 100%;
    /* height: 100%; */
    padding-top: 20px;
  }

  #creativity-features-text h1 {
    font-size: xx-large;
    margin-bottom: 10px;
  }

  #creativity-features-text h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  #creativity-features-text p {
    font-size: 0.9rem;
    margin-bottom: 15px;
  }

  .creative-footer-text p {
    font-weight: bolder;
  }

  #creativity-btn a {
    text-decoration: none;
    background-color: #009087;
    color: white;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 0.8rem;
  }

  #creativity-btn a:nth-child(2) {
    background-color: #dedbf8;
    color: #009087;
  }

  #plan-container {
    margin: 15px 20px 40px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  #plan-container .plan-item {
    text-align: center;
    background-color: #e8ebf8;
    padding: 10px 30px 20px;
    border-radius: 5px;
  }

  .plan-item p {
    line-height: 40px;
    color: gray;
  }

  .plan-money i {
    padding: 15px;
    /* font-size: 2rem; */
    background-color: #009087;
    color: white;
    border-radius: 10px 10px 0 10px;
    margin-bottom: 10px;
  }

  .plan-money h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .plan-money h1 {
    font-size: 2rem;
  }

  .plan-money h1 span {
    font-size: 1rem;
  }

  .plan-money p {
    font-weight: bold;
    color: gray;
  }

  .plan-benifit a {
    text-decoration: none;
    border: 2px solid #009087;
    border-radius: 5px;
    color: #009087;
    padding: 5px 15px;
  }

  #letest-news-container {
    margin: 10px 20px 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .letest-image img {
    width: 100%;
    border-radius: 3px;
  }

  .admin-and-calender {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .calender {
    display: flex;
    gap: 20px;
  }

  .admin {
    display: flex;
    gap: 20px;
  }

  .letest-text h1 {
    line-height: 60px;
  }

  .learn-more-btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #009087;
  }

  .learn-more-btn a {
    text-decoration: none;
  }

  #contact-us {
    margin: 10px 5px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 600px;
  }

  #contact-form-item {
    margin: 5px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    color: gray;
  }

  #contact-form-item input {
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    transition: outline 1s;
  }

  #contact-form-item input:focus {
    outline: 2px solid #009087;
  }

  textarea {
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 30px;
    height: 150px;
    width: 100%;
  }

  textarea:focus {
    outline: 1px solid #009087;
  }

  #send-message-btn {
    background-color: #009087;
    padding: 5px 10px;
    border-radius: 3px;
    color: white;
  }

  #send-message-btn input {
    background-color: transparent;
    color: white;
    border: 0;
    font-weight: 900;
  }

  .contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 30px;
    color: gray;
  }

  .contact-info i {
    font-size: 1.2rem;
  }

  footer {
    background-color: #212529;
    color: gray;
    padding: 30px 10px;
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 20px; */
    width: 100%;
  }

  #footer-name h2 {
    color: #009087;
    margin-bottom: 10px;
  }

  #footer-social-icon {
    margin: 20px 0;
  }

  #footer-social-icon i {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .footer-link h4 {
    color: white;
    margin-bottom: 20px;
  }

  .footer-link a {
    display: block;
    text-decoration: none;
    line-height: 30px;
    color: rgb(156, 148, 148);
  }
}

  </style>
</head>

<body>

  <nav>

    <label for="name" id="logo-text" >
      <img src="./assets/logo.png" alt="" >
    </label>


    <ul>
      <div id="account-container">
        <a href="/login">Login</a>
       
      </div>
    </ul>

    
  </nav>

  <header>
    <div id="header-container">
      <div id="header-page-title">
        <h1>Velammal Document <br> Management</h1>
        <p>A user friendly portal to upload your Patents,Projects,
          <br> Conference papers,Articles and Books
        </p>
        <div id="header-subscribe-form">
          <div id="account-container">
            <a href="/login">Login</a>
            
          </div>
        </div>
      </div>
      <div id="header-page-image">
        <img src="./assets/banner-removebg-preview.png" alt="">
      </div>
    </div>
  </header>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>About Research and Development Department</h1>
      
    </div>
  </section>

  <section id="creativity-features">

    <div id="creativity-features-image">
      <img src="./assets/9175292_6520-removebg-preview.png" alt="">
    </div>

    <div id="creativity-features-text">
     
      <h3>Vision</h3>
      <p>To encourage research activities among students and Faculty members, as well as to provide a strong platform for exchanging/technology transfer and implementing unique and creative ideas for the socioeconomic development of society through the use of Science, Engineering, and Technology.

      </p>
      <h3>Mission</h3>
<p>To promote, develop, and facilitate research and development through implementing cutting-edge research in collaboration with government funding agencies, Non-Governmental Organizations (NGOs), and the Private Sectors.</p>


      
      <div id="creativity-btn">
        <a href="#">Started Year:2013</a>
        <a href="#">Total Members:04</a>
      </div>
     
     
    </div>
    
          
  </section>

  <div class="Acheivements">
    <h1>Aim & Objective</h1>
      <ul class="achievements-list">
          <li>📚 To establish an R&D culture at the Institute by promoting research awareness among teachers and students.</li>
          <li>📚 To provide a platform for sharing available research facilities.</li>
          <li>📚 To improve researcher collaboration for multidisciplinary research.</li>
          <li>📚 To promote Memorandums of Understanding (MOUs) with various industries, R&D organizations, and funding agencies that offer financing for research activities.</li>
          <li>📚 To monitor the success of the Institution's research programs and projects.</li>
          <li>📚 To establish research thrust areas, promote research, evaluate, and disseminate research results.</li>
          <li>📚 Create a micro project environment that can be converted into in-house projects. Also, promote product development through in-house projects that can be applied for funding from agencies.</li>
          <li>📚 To establish an approved R&D Center for all programs.</li>
      </ul>
   
         </div>
         <br>  <br>  <br>  <br>  <br><br>  <br>  <br>
  <div class="container">
    <div class="col">
        <span class="active">
            <div class="box">
                <img src="./assets/approved.png"  class="logo"alt="">
                <h1>1.76</h1><h2>Crores</h2>
                <h3>R&D Equipments</h3>
                
            </div>
        </span>
        <span><img class="pic" src="https://venture-lab.org/wp-content/uploads/2019/11/writing.jpg"></span>
    </div>
    <div class="col">
        <span><img class="pic" src="https://i1.wp.com/learnenglishfunway.com/wp-content/uploads/2020/04/expert-tips-for-writing-job-posts.jpg?resize=810%2C500&ssl=1"></span>
        <span class="active">
            <div class="box">
                <img src="./assets/analytics.png"  class="logo"alt="">
                <h1>2</h1><h2>Crores</h2>
                <h3> Reasearch Grant Sanctioned</h3>
            </div>
    </div>
    <div class="col">
        <span class="active">
            <div class="box">
                <img src="./assets/medal.png"  class="logo"alt="">
                <h1>22</h1><h2>Faculty</h2>
                <h3> Reasearch Awards</h3>
            </div>
        </span>
        <span><img  class="pic"src="https://global-exam.com/blog/wp-content/uploads/2018/10/writing-ex1-e1553097551973.jpeg"></span>
    </div>
    <div class="col">
        <span><img class="pic" src="https://149349728.v2.pressablecdn.com/wp-content/uploads/2021/03/marcos-paulo-prado-tcyW6Im5Uug-unsplash-scaled-e1615501484783.jpg"></span>
        <span class="active">
            <div class="box">
                <img src="./assets/graduate.png"  class="logo"alt="">
                <h1>32</h1><h2>Faculty</h2>
                <h3>as Journal Reviewer and Editor</h3>
            </div>
        </span>
    </div>
    
</div>


 

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>Upload Your Acheivements</h1>
      <p>A user has to Login first using his College Official  <br> mail Id to access all the  Resources.
      </p>
    </div>
  </section>

  <div class="main">
    <div class="container1">

      <img class="imgg" src="https://img.freepik.com/free-vector/organic-flat-people-business-training-illustration_23-2148907195.jpg?w=1060&t=st=1697266161~exp=1697266761~hmac=72d07efdc881982032f34c8d2a315cccc56f7e62a92320f782644b5736b30cf6">
      <h1 class="heading">Patent Projects</h1>
      <h4 class="content">Total Patents:<%= totalCount %></h4>
      <br>
      <a id="table" href="/chart">More Deatils</a>
        
    </div>
    <div class="container1">
      <img class="imgg" src="https://img.freepik.com/free-vector/young-people-being-interns-company_23-2148721818.jpg?w=1060&t=st=1697266007~exp=1697266607~hmac=e68b1ed67b7118b3e517050fd62f1250de98a8618aaa6731c1fa9e24c892d647">
        <h1 class="heading">Conferences</h1>
        <h4 class="content">Total Conferences:<%= totalCountconference %></h4>
        <br>
        <a id="table" href="/conferencechart">More Deatils</a>
    </div>
    <div class="container1">
      <img class="imgg" src="https://img.freepik.com/free-vector/young-people-read-books-library-students-study-school-college-university-vector-flat-illustration-men-women-sitting-stack-big-books-reading_107791-9763.jpg?w=1380&t=st=1697266269~exp=1697266869~hmac=86d3efa320ca29254b614adb3bea423ccc08d338087c3c82be7736513fb7a9fa">
        <h1 class="heading">Books and Chapters </h1>
        <h4 class="content">Total Books:<%= totalCountbooks %></h4>
      <br>
      <a id="table" href="/bookschart">More Deatils</a>
    </div>
    <div class="container1">
      <img class="imgg" src="https://img.freepik.com/free-vector/business-people-meeting-disputing-discussion_107791-13065.jpg?w=1380&t=st=1697266097~exp=1697266697~hmac=75fab0c7eba521d234dd446d8ab14ddfd42679c9ab236bb157370582cadf2ef1">
        <h1 class="heading">Article</h1>
        <h4 class="content">Total Article:<%= totalCountarticle %></h4>
      <br>
      <a id="table" href="/articlechart">More Deatils</a>
    </div>
    <div class="container1">
      <img class="imgg" src="https://img.freepik.com/free-vector/flat-working-day-scene-illustration_23-2148960100.jpg?w=1060&t=st=1697266057~exp=1697266657~hmac=e74048b15044841f25cd3f1baa7775cd177ab8befc9153c024b79ceea6b84c6e">
        <h1 class="heading">Projects</h1>
        <h4 class="content">Total Projects:<%= totalCountproject %></h4>
      <br>
      <a id="table" href="/projectchart">More Deatils</a>
    </div>
    
</div>

  <section class="awesome-feature">
    <div id="feature-text">
      <h1>About Velammal Insititue Of Technology</h1>
      <p>"Embrace the challenge, chase knowledge's depths, and sculpt your future with the clay of education."
      </p>
    </div>
  </section>
  <section class="college">
  <img class="college-img"src="assets/Velammal Institute of Technology image5-m2335-original.jpg" alt="" >
<p class="college-text">Velammal Institute of Technology, brain child of our Honorable Chairman bloomed on 14th August 2008 intended to provide the world class technical education to conquer tomorrow’s technology at global level with human values, so as to make our student community succeed in life. The institution has developed the state of art infrastructure within the short span of time with dedicated and determined staff members</br></br>

  Velammal Institute of Technology is committed to be a leader in innovative work force development and a world class learning venue for the ever changing needs of Business and Industry.</br></br>
  In line with our mission, we accelerate technology transfer to industry and develop innovations in applications of emerging technologies through high quality technical education and work force training</br></br>
  
  We offer Bachelor of Engineering courses in ECE, CSE, EEE, IT & MECH . Further, we are in the process of adding some more courses in the forthcoming academic year. Our present student’s strength is 1838. We have 136 Teaching faculty members comprising of many doctorates and many more are pursuing their doctoral degrees. In addition to this, we have 50 Non- Teaching staff members and 118 supporting staff.</br></br>
  
  The following labs are available with full fledged facilities Engineering Practices Lab, Physics Lab, Chemistry Lab, Power electronics lab, Measurements & Instrumentation lab, Controls lab, Operating Systems lab, Electronic circuits lab, Object Oriented Analysis & Design lab, Network lab, VLSI lab, Manufacturing Technology Lab, Strength of Materials Lab, Computer Aided Machine Drawing Laboratory, Computer Aided Drafting and Modeling Laboratory.
</br></br>
  We have a separate boys and girls hostel in the college premises to accommodate 700 students.</p>
</section>
</br></br>
</br></br>
<section class="awesome-feature">
  <div id="feature-text">
    <h1>About Our Chairman</h1>
    <p>"Success is not about the position you hold, but the vision and positive impact you bring to that position."
    </p>
  </div>
</section>
<section class="college">

<p class="college-text">M.V. Muthuramalingam (MVM) is the founder-chairman of the low-profile Chennai-based Velammal Group. Born in Ladenenthal village, Madurai district in 1946, at age six MVM took charge of fending for the family after the premature demise of his father in 1952, grazing buffaloes and selling milk to supplement the household income while his mother Velammal worked as a househelper.

  Despite these difficult times, MVM persevered to complete class X in the local government school and followed it up with a diploma in civil engineering from Madurai’s Thiagarajar College of Engineering, and began his working life as a civil contractor. Following his marriage with Kunjaravalli in 1969 and the birth of his first son, in 1972 the family moved to Chennai in search of a better life.
  
  In 1986, he sold the family’s sole property in Madurai for Rs.5 lakh to promote the Velammal Matriculation School with 183 students and 13 teachers in Mogappair, Chennai under the aegis of the Velammal Educational Trust. Since then over the past 30 years, the Velammal Group has grown to include three kindergarten, 11 Matriculation, one international, one residential, two IGCSE and 13 CBSE schools, three engineering colleges, one medical college and an allied sciences college offering high-quality education to 90,000 students mentored by 8,500 teachers in several districts of Tamil Nadu. The group™s newest institution, the state-of-the-art Velammal Medical College Hospital & Research Institute inaugurated in 2012, is spread across 136 acres in Madurai, offering a world-class medical college-cum-hospital with 2,100 beds.
  
  MVM’s dedicated focus on offering high-quality values-driven school and tertiary education in contemporary learning environments to children and youth at all price points, has transformed the Velammal Group into one of the largest and fastest growing education chains of south India. Over the past three decades, Velammal institutions have educated, trained and certified 56,584 class X and 57,263 class XII school-leavers, 16,058 engineers and 1,515 other professionals who have contributed significantly to transforming Tamil Nadu into the nation™s industrial manufacturing hub.
  
  For his extraordinary contributions to the development of Indian education and growth of the economy, the Board of Directors and Editors of EW are proud to present the EW Lifetime Achievement in Education Leadership 2015 Award to MV Muthuramalingam and induct him into the EW Hall of Fame of Indian Education.</p>
  <img class="college-img"src="assets/muthuramalingam.jpg" alt="" >
</section>

</br></br>
        
	<footer class="footer-distributed">
	
	  <div class="footer-left">
	
		<h3 style="font-family: 'Playfair Display', serif;color:#411F1F">Velammal Institue Of Technology<span><img style="height: 20vh;" src="blob:https://web.whatsapp.com/d851746e-1788-415d-b1b7-7313a8875da7" alt=""></span></h3>
	
		<p class="footer-links">
		 
		  
	
		  
		</p>
	
		<p class="footer-company-name" style="font-family: 'Titillium Web', sans-serif; ;">Chennai – Kolkatta High Way,
      Panchetti, Thiruvallur District.
      Pincode – 601 204</p>
		 <h4 style="font-family: 'Titillium Web', sans-serif; color:#411F1F;font-size:15px;">
      Email:Info@Velammaltrust.Com
     </br>
      Phone:9087556789</h4>
	
		 
	   
		
		
		
     
	
	</footer>
  <div class="copyrights"> </div>

	
	
	
	


</html>